@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Spicy+Rice&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-destaque:"Spicy Rice", serif;
    --fonte-txto:"Bebas Neue", sans-serif;
    --cor-um: #0a0908ff;
    --cor-dois: #22333bff;
    --cor-tres: #eae0d5ff;
    --cor-quatro:#c6ac8f;
    --cor-cinco:#5e503f;
    --cor-seis: #6f1d1bff;
    --cor-sete: #bb9457ff;
    --cor-oito: #432818ff;
    --cor-nove: #99582aff;
    --cor-dez: #ffe6a7ff;
}

body{
    background-color: var(--cor-cinco);
    font-family: var(--fonte-texto);
}   

#caixa{
    display: flex;
}

.caixa{
    margin: 1rem;
    background-color: var(--cor-dois);
    height: 203rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao:hover .cartao__conteudo{
    transform: rotateY(180deg);
}

.cartao__conteudo h3{
    border: 2px solid var(--cor-dez);
    font-family: var(--fonte-destaque);
    text-align: center;
    padding: 0 6rem;
    position: absolute;
    margin: 0.6em;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    backface-visibility: hidden;
}

.cartao__conteudo__pergunta{
    font-size: 1.5rem;
    margin: 2.5rem;
}

.cartao__conteudo__pergunta
.cartao__conteudo__resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao__conteudo p {
    margin: 1rem;
    padding: 1.3rem;
}

.cartao__conteudo__resposta{
    font-size: 1.5rem;
    transform: rotateY(180deg);
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--cor-quatro);
    padding: 1em;
}

footer p{
    font-size: 1.1rem;
    color: var(--cor-tres);
}

footer a{
    text-decoration: none;
    color: var(--cor-um);
}
